* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-wrapper {
    background-color: white;
    width: 99%;
    height: 100%;
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 3px solid black;
    padding: 25px;
    margin: 0 30px 30px 30px;
}

.container-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 3px solid black;
    padding: 25px;
    margin: 0 30px 30px 30px;
}

.row {
    padding: 15px;
    flex-wrap: wrap;
    /*max-width: 350px;*/
}

.tutorialTitle {
    margin: 30px 0 0 30px;
    color: firebrick;
}

/*.elementsDiv {*/
/*    width: 700px;*/
/*}*/

.elementTypes {
    font-size: 22px;
    letter-spacing: 1px;
    width: 400px;
}

.columnsAcross {
    display: flex;
    flex-direction: row;
    gap: 100px;

}

.altAttr {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.preAttribute {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.centerContentJustify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.red {
    color: red;
}

.darkred {
    color: darkred;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.centering {
    text-align: center;
}

.marginL20 {
    margin-left: 20px;
}

.marginL40 {
    margin-left: 40px;
}

.marginL60 {
    margin-left: 60px;
}

.marginL80 {
    margin-left: 80px;
}

.marginL100 {
    margin-left: 100px;
}

.listInline {
    display: inline;
}


table {
    border-collapse: collapse;
    max-width: 1000px;
    text-align: left;
}

tr {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #eee;
}

.borderBottomExample2:hover {
    background-color: coral;
}

.borderBottomExample:nth-child(even) {
    background-color: white;
}

th, td {
    padding: 5px;
}

.xlarge_font {
    font-size: x-large;
}

.link_states:link {
    color: red;
}

.link_states:visited {
    color: green;
}

.link_states:hover {
    color: hotpink;
}

.link_states:active {
    color: blue;
}

.link_states_td:link {
    text-decoration: none;
}

.link_states_td:visited {
    text-decoration: none;
}

.link_states_td:hover {
    text-decoration: underline;
}

.link_states_td:active {
    text-decoration: underline;
}

.link_states_bc {
    background-color: yellow;
}

.link_states_bc:visited {
    background-color: cyan;
}

.link_states_bc:hover {
    background-color: lightgreen;
}

.link_states_bc:active {
    background-color: hotpink;
}

.link_states_btn:link, .link_states_btn:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.link_states_btn:hover, .link_states_btn:active {
    background-color: red;
}

.grid-container {
    border: 5px solid orange;
    display: grid;
    grid-template-columns: 1 fr 1fr;
    padding: 20px;
    gap: 20px;
    justify-content: space-evenly;
    overflow: auto;
}

.d1 {
    height: 150px;
    width: 150px;
    border: 3px solid #72adc1;
    padding: 10px;
}

.imageZ {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.divLeft {
    float: left;
    padding: 15px;
}

.divRed {
    background: red;
}

.divYellow {
    background: yellow;
}

.divGreen {
    background: green;
}

.navInlineBlock {
    background-color: yellow;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navList {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.linkPseudo {
    color: red;
}

.linkPseudo:visited {
    color: green;
}

.linkPseudo:hover {
    color: hotpink;
}

.linkPseudo:active {
    color: blue;
}

a.highlightRed:hover {
    color: red;
    font-size: 22px;
}

div.hoverBackgroundColorBlue:hover {
    background-color: blue;
}

.divHover:hover p {
    display: block;
}

.divHoverP {
    display: none;
    background-color: yellow;
    padding: 20px;
}

.firstChild:first-child {
    color: blue;
}