* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-wrapper {
    background-color: white;
    width: 99%;
    height: 100%;
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 3px solid black;
    padding: 25px;
    margin: 0 30px 30px 30px;
}

.container-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 3px solid black;
    padding: 25px;
    margin: 0 30px 30px 30px;
}

.row {
    padding: 15px;
    flex-wrap: wrap;
    /*max-width: 350px;*/
}

.tutorialTitle {
    margin: 30px 0 0 30px;
    color: firebrick;
}

/*.elementsDiv {*/
/*    width: 700px;*/
/*}*/

.elementTypes {
    font-size: 22px;
    letter-spacing: 1px;
    width: 400px;
}

.columnsAcross {
    display: flex;
    flex-direction: row;
    gap: 100px;

}

.altAttr {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.preAttribute {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.centerContentJustify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.red {
    color: red;
}

.darkred {
    color: darkred;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.centering {
    text-align: center;
}

.marginL20 {
    margin-left: 20px;
}

.marginL40 {
    margin-left: 40px;
}

.marginL60 {
    margin-left: 60px;
}

.marginL80 {
    margin-left: 80px;
}

.marginL100 {
    margin-left: 100px;
}

.listInline {
    display: inline;
}


table {
    border-collapse: collapse;
    max-width: 1000px;
    text-align: left;
}

tr {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #eee;
}

.borderBottomExample2:hover {
    background-color: coral;
}

.borderBottomExample:nth-child(even) {
    background-color: white;
}

th, td {
    padding: 5px;
}

.xlarge_font {
    font-size: x-large;
}

.link_states:link {
    color: red;
}

.link_states:visited {
    color: green;
}

.link_states:hover {
    color: hotpink;
}

.link_states:active {
    color: blue;
}

.link_states_td:link {
    text-decoration: none;
}

.link_states_td:visited {
    text-decoration: none;
}

.link_states_td:hover {
    text-decoration: underline;
}

.link_states_td:active {
    text-decoration: underline;
}

.link_states_bc {
    background-color: yellow;
}

.link_states_bc:visited {
    background-color: cyan;
}

.link_states_bc:hover {
    background-color: lightgreen;
}

.link_states_bc:active {
    background-color: hotpink;
}

.link_states_btn:link, .link_states_btn:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.link_states_btn:hover, .link_states_btn:active {
    background-color: red;
}

.grid-container {
    border: 5px solid orange;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 20px;
    justify-content: space-evenly;
    overflow: auto;
}

.d1 {
    height: 150px;
    width: 150px;
    border: 3px solid #72adc1;
    padding: 10px;
}

.imageZ {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.divLeft {
    float: left;
    padding: 15px;
}

.divRed {
    background: red;
}

.divYellow {
    background: yellow;
}

.divGreen {
    background: green;
}

.navInlineBlock {
    background-color: yellow;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navList {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.linkPseudo {
    color: red;
}

.linkPseudo:visited {
    color: green;
}

.linkPseudo:hover {
    color: hotpink;
}

.linkPseudo:active {
    color: blue;
}

a.highlightRed:hover {
    color: red;
    font-size: 22px;
}

div.hoverBackgroundColorBlue:hover {
    background-color: blue;
}

.divHover:hover p {
    display: block;
}

.divHoverP {
    display: none;
    background-color: yellow;
    padding: 20px;
}

.firstChild:first-child {
    color: blue;
}

.firstIinP i:first-child {
    color: blue;
}

.firstIinAllP:first-child i {
    color: blue;
}

q:lang(no) {
    quotes: "~" "~";
}

.pseudoFirstLine::first-line {
    color: #ff0000;
    font-variant: small-caps;
}

.pseudoFirstLetter::first-letter {
    color: #ff0000;
    font-size: xx-large;
}

p.intro::first-letter {
    color: #ff0000;
    font-size: 200%;
}

.multiplePseudoElements::first-letter {
    color: #ff0000;
    font-size: xx-large;
}

.multiplePseudoElements::first-line {
    color: #0000ff;
    font-variant: small-caps;
}

.beforeHeadingPseudo::before {
    content: url(media/img/atomicHabits.webp);
}

.afterHeadingPseudo::after {
    content: url(media/img/atomicHabits.webp);
}

ul.markers li::marker {
    color: red;
    font-size: 23px;
}

ol.markers li::marker {
    color: red;
    font-size: 23px;
}

p.selectionExample::selection {
    color: red;
    background: yellow;
}

.imageHoverEffect {
    opacity: 0.5;
}

.imageHoverEffect:hover {
    opacity: 1.0;
}

div.transbackground {
    background: url(media/img/atomicHabits.webp) repeat;
    border: 2px solid black;
}

div.transbox {
    margin: 5%;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

.verticalNavbar a {
    display: block;
    width: 60px;
    background-color: #dddddd;
}
.verticalNavbar1 a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.verticalNavbar1 a:hover {
    background-color: #555;
    color: white;
}

.verticalNavbar2 a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.verticalNavbar2 a.active {
    background-color: #04aa6d;
    color: white;
}

.verticalNavbar2 a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.verticalNavbar3 {
    text-align: center;
    border-bottom: 1px solid #555;
}

.verticalNavbar3:last-child {
    border-bottom: none;
}

.verticalNavbar3 a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.verticalNavbar3 a.active {
    background-color: #04aa6d;
    color: white;
}

.verticalNavbar3 a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.verticalNavbar4 a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.verticalNavbar4 a.active {
    background-color: #04aa6d;
    color: white;
}

.verticalNavbar4 a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.horizontalNavbar {
    display: inline;
}

.horizontalNavbar1 {
    float: left;
}

.horizontalNavbar1 a {
    display: block;
    padding: 8px;
    background-color: #ddd;
}

.horizontalNavbar2 {
    float: left;
}

.horizontalNavbar2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontalNavbar2 a:hover {
    background-color: #111;
}

.horizontalNavbar3 {
    float: left;
}

.horizontalNavbar3 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontalNavbar3 a:hover {
    background-color: #111;
}

.horizontalNavbar3 a.active {
    background-color: #04aa6d;
    color: white;
}

.horizontalNavbar4 {
    float: left;
    border-right: 1px solid #bbb;
}

.horizontalNavbar4:last-child {
    border-right: none;
}

.horizontalNavbar4 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontalNavbar4 a:hover:not(.active) {
    background-color: #111;
}

.horizontalNavbar4 a.active {
    background-color: #04aa6d;
    color: white;
}

.horizontalNavbar5 {
    float: left;
}

.horizontalNavbar5 a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontalNavbar5 a:hover {
    background-color: #ddd;
}

.horizontalNavbar5 a.active {
    background-color: #04aa6d;
    color: white;
}

.horizontalNavbar6 {
    float: left;
}

.horizontalNavbar6 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontalNavbar6 a:hover {
    background-color: #111;
}

.horizontalNavbar6 a.active {
    background-color: #04aa6d;
    color: white;
}

.floatRight {
    float: right;
}

@media screen and (max-width: 600px) {
    ul li.floatRight {
        float: left;
    }
    li.horizontalNavbar6 {
        float: none;
        text-align: center;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
}

.verticalNavbar5 a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.verticalNavbar5 a.active {
    background-color: #4caf50;
    color: white;
}

.verticalNavbar5 a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.responsiveSideNavUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%;
    position: sticky;
    top: 0;
}

.responsiveSideNavContainer {
    display: flex;
    border: 2px solid black;
    margin: 0;
    height: 250px;
    position: relative;
    overflow: auto;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .responsiveSideNavUl {
        width: 100%;
        height: auto;
        position: sticky;
        z-index: 1;
    }
    ul.responsiveSideNavUl li a{
        float: left;
        padding: 15px;
    }
    div.responsiveSideNavDiv {
        margin-left: 0;
        position: relative;
    }
    .responsiveSideNavContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .responsiveSideNavContainer {
        height: 425px;
    }
    .responsiveSideNavUl li a {
        width: 100%;
        text-align: center;
        float: none;
    }
}

.dropdownNavbarUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38444d;
}

.dropdownNavbarLi {
    float: left;
}

.dropdownNavbarLi a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdownNavbarLi a:hover, .dropdownNavbar:hover .dropbtn {
    background-color: red;
}

.dropdownNavbar {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: red;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdownNavbar:hover .dropdown-content {
    display: block;
}

.dropdownBasic {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdownBasic:hover .dropdown-content2 {
    display: block;
}

.dropdownMenuBtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdwonMenu {
    position: relative;
    display: inline-block;
}

.dropdownMenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownMenu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownMenu-content a:hover {
    background: #f1f1f1;
}

.dropdownMenu:hover .dropdownMenu-content {
    display: block;
}

.dropdownMenu:hover .dropdownMenuBtn {
    background-color: #3e8e41;
}

.desc {
    padding: 15px;
    text-align: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: fit-content;
}

.aTargetYellow[target] {
    background-color: yellow;
}

.aTargetYellow2[target="_blank"] {
    background-color: yellow;
}

[title~="Self-Help"] {
    border: 5px solid yellow;
}

[class|="top"] {
    background: yellow;
}

[class^="top1"] {
    background: yellow;
}

[class$="test"] {
    background: yellow;
}

[class*="te1"] {
    background: yellow;
}

.input100width {
    width: 100%;
}

.input100widthPad {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.input100widthRed {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}

.input100widthBottom {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    border-radius: 4px;
}

.input100widthColor {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3cbc8d;
    color: white;
}

.input100widthFocusColor {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

.input100widthFocusColor:focus {
    background-color: lightblue;
}

.input100widthFocusBorder {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input100widthFocusBorder:focus {
    border: 3px solid #555;
}

.input100widthIcon {
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    border: 2px solid #CCC;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(media/img/atomicHabits.webp);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 12px 20px 12px 80px;
}

.input100widthAnimate {
    width: 160px;
    height: 75px;
    box-sizing: border-box;
    border: 2px solid #CCC;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(media/img/atomicHabits.webp);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 12px 20px 12px 80px;
    transition: width 0.4s ease-in-out;
}

.input100widthAnimate:focus {
    width: 100%;
}

.stylingTextareas {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid #CCC;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 12px 20px;
    resize: none;
}

.styleSelectMenu {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.stylingInputButtons {
    background-color: #04aa6d;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

body {
    counter-reset: section;
}

.cssCounters::before {
    counter-increment: section;
    content: "Section " counter(section) ": ";
}

.nestingCounters1 {
    counter-reset: subsection;
}

.nestingCounters1::before {
    counter-increment: section;
    content: "Section " counter(section) ": ";
}

.nestingCounters2::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection)" ";
}

ol.nestedCounters-ol {
    counter-reset: section;
    list-style-type: none;
}

li.nestedCounters-li::before {
    counter-increment: section;
    content: counters(section,".") " ";
}

ol.nestedCounters-ol > li.nestedCounters-li {
    margin-left: 10px;
}

.headerExample {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
}

.navBarWebsiteLayout {
    overflow: hidden;
    background-color: #333;
}

.navBarWebsiteLayout a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBarWebsiteLayout a:hover {
    background-color: #ddd;
    color: black;
}

.contentWebsiteLayout2 {
    float: left;
    width: 33.33%;
}

.contentWebsiteLayout1:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1200px) {
    .contentWebsiteLayout2 {
        width: 100%;
    }
}

.unequalColumns {
    float: left;
    padding: 10px;
}

.unequalColumns.unequalColumnsSide {
    width: 20%;
}

.unequalColumns.unequalColumnsMiddle {
    width: 45%;
}

@media screen and (max-width: 600px) {
    .unequalColumns.unequalColumnsSide, .unequalColumns.unequalColumnsMiddle {
        width: 25%;
    }
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.cssUnitsH1 {
    font-size: 60px;
}

.cssUnitsParagraph {
    font-size: 25px;
    line-height: 50px;
}

.equalSpecificityH1 {
    background-color: red;
}

div#a {
    background-color: green;
}

#a {
    background-color: yellow;
}

div[id=a] {
    background-color: blue;
}

#content h1{
    background-color: red;
}

.equalSpecificityClass {
    background-color: yellow;
}

.exampleImportant {
    background-color: red !important;
}

#exampleImportant3 {
    background-color: blue !important;
}

.exampleImportant2 {
    background-color: gray !important;
}

.button\!important {
    background-color: #8c8c8c;
    color: white;
    padding: 5px;
    border: 1px solid black;
}

#myDiv a {
    color: red;
    background-color: yellow;
}

.div1Parent, .div1Parent2, .div1Parent3 {
    position: relative;
}

#div1 {
    position: absolute;
    left: 50px;
    width: calc(100% - 100px);
    border: 1px solid black;
    background-color: yellow;
    padding: 5px;
}

#div2 {
    background-color: yellow;
    height: 100px;
    width: max(50%, 300px);
}

#div3 {
    background-color: yellow;
    height: 100px;
    width: min(50%, 300px);
}

#rcorners1 {
    border-radius: 25px;
    background: #73ad21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid #73ad21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#rcorners3 {
    border-radius: 25px;
    background: url(media/img/soft_background_color.jpeg);
    padding: 20px;
    width: 200px;
    height: 150px;
}

.rcorners11 {
    border-radius: 15px 50px 30px 5px;
    background: #73AD21;
    padding: 20px;
    width: 100px;
    height: 50px;
}

.rcorners22 {
    border-radius: 15px 50px 30px;
    background: #73AD21;
    padding: 20px;
    width: 100px;
    height: 50px;
}

.rcorners33 {
    border-radius: 15px 50px;
    background: #73AD21;
    padding: 20px;
    width: 100px;
    height: 50px;
}

.rcorners44 {
    border-radius: 15px;
    background: #73AD21;
    padding: 20px;
    width: 100px;
    height: 50px;
}

#bordering {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(media/img/borderimages.png) 30 round;
}
#bordering1 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(media/img/borderimages.png) 30 stretch;
}

#borderimg1 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(media/img/soft_background_color.jpeg) 50 round;
}

#borderimg2 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(media/img/soft_background_color.jpeg) 20% round;
}

#borderimg3 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(media/img/soft_background_color.jpeg) 30% round;
}

#exampleMultipleBackground1 {
    background-image: url(media/img/deepWork.jpeg) , url(media/img/soft_background_color.jpeg);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    background-size: 100px 150px;
    padding: 15px;
}

#exampleMultipleBackground2 {
    background: url(media/img/deepWork.jpeg) right bottom no-repeat , url(media/img/soft_background_color.jpeg) left top repeat;
    background-size: 100px 150px;
    padding: 15px;
}

#exampleBackgroundSize1 {
    border: 1px solid black;
    background: url(media/img/soft_background_color.jpeg);
    background-size: 100px 80px;
    background-repeat: no-repeat;
    padding: 15px;
}

#exampleBackgroundSize2 {
    border: 1px solid black;
    background: url(media/img/soft_background_color.jpeg);
    background-repeat: no-repeat;
    padding: 15px;
}

.exampleBackgroundSizeContain {
    border: 1px solid black;
    width: 150px;
    height: 120px;
    background: url(media/img/soft_background_color.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}

.exampleBackgroundSizeCover {
    border: 1px solid black;
    width: 150px;
    height: 120px;
    background: url(media/img/soft_background_color.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#exampleBackgroundSizeMultiple {
    background: url(media/img/deepWork.jpeg) left top no-repeat, url(media/img/atomicHabits.webp) right bottom no-repeat, url(media/img/soft_background_color.jpeg) left top repeat;
    background-size: 50px, 130px, auto;
    padding: 15px;
    height: 200px;
}

.exampleHTMLFullImage {
    background: url(media/img/soft_background_color.jpeg) no-repeat center fixed;
    background-size: cover;
}

.exampleHeroImage {
    background: url(media/img/deepWork.jpeg) no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
}

.exampleHeroText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 135%);
    color: white;
}

#exampleBackgroundOrigin1 {
    border: 10px solid black;
    padding: 35px;
    background: url(media/img/soft_background_color.jpeg);
    background-repeat: no-repeat;
    background-origin: content-box;
}

#exampleBackgroundOrigin2 {
    border: 10px solid black;
    padding: 35px;
    background: url(media/img/soft_background_color.jpeg);
    background-repeat: no-repeat;
    background-origin: border-box;
}

#exampleBackgroundClip1 {
    border: 10px dotted black;
    padding: 15px;
    background: yellow;
}

#exampleBackgroundClip2 {
    border: 10px dotted black;
    padding: 15px;
    background: yellow;
    background-clip: padding-box;
}

#exampleBackgroundClip3 {
    border: 10px dotted black;
    padding: 15px;
    background: yellow;
    background-clip: content-box;
}

#RGBAp1 {
    background-color: rgba(255,0,0,0.3);
}

#RGBAp2 {
    background-color: rgba(0,255,0,0.3);
}

#RGBAp3 {
    background-color: rgba(0,0,255,0.3);
}

#RGBAp4 {
    background-color: rgba(192,192,192,0.3);
}

#RGBAp5 {
    background-color: rgba(255,255,0,0.3);
}

#RGBAp6 {
    background-color: rgba(255,0,255,0.3);
}

#HSLp1 {
    background-color: hsl(120, 100%, 50%);
}

#HSLp2 {
    background-color: hsl(120, 100%, 75%);
}
#HSLp3 {
    background-color: hsl(120, 100%, 25%);
}
#HSLp4 {
    background-color: hsl(120, 60%, 70%);
}

#HSLAp1 {
    background-color: hsl(120, 100%, 50%, 0.3);
}

#HSLAp2 {
    background-color: hsl(120, 100%, 75%, 0.3);
}

#HSLAp3 {
    background-color: hsl(120, 100%, 25%, 0.3);
}

#HSLAp4 {
    background-color: hsl(120, 60%, 70%, 0.3);
}

#opacityp1 {
    background-color: hsl(120, 100%, 50%); opacity: 0.6;
}

#opacityp2 {
    background-color: hsl(120, 100%, 75%); opacity: 0.6;
}

#opacityp3 {
    background-color: hsl(120, 100%, 25%); opacity: 0.6;
}

.transparentExample1 {
    background-color: lightgreen;
    border: 2px solid black;
    padding: 15px;
}

.transparentExample2 {
    background-color: transparent;
    border: 2px solid black;
    padding: 15px;
}

.currentcolorExample1 {
    color: blue;
    border: 10px solid currentColor;
    padding: 15px;
}

.currentcolorExample2 {
    background-color: currentColor;
    padding: 15px;
}

.currentcolorExample3 {
    color: white;
}

.currentcolorExample4 {
    box-shadow: 0 0 15px currentColor;
    border: 5px solid currentColor;
    padding: 15px;
}

.inheritExample1 {
    border: 2px solid red;
}

.inheritExample2 {
    border: inherit;
}

#grad1 {
    height: 200px;
    background-color: red;
    background-image: linear-gradient(red, yellow);
}

#grad2 {
    height: 200px;
    background-color: red;
    background-image: linear-gradient(to right, red, yellow);
}

#grad3 {
    height: 200px;
    background-color: red;
    background-image: linear-gradient(to bottom right, red, yellow);
}

#gradAngle1 {
    height: 100px;
    background-color: red;
    background-image: linear-gradient(0deg, red, yellow);
}

#gradAngle2 {
    height: 100px;
    background-color: red;
    background-image: linear-gradient(90deg, red, yellow);
}

#gradAngle3 {
    height: 100px;
    background-color: red;
    background-image: linear-gradient(180deg, red, yellow);
}

#gradAngle4 {
    height: 100px;
    background-color: red;
    background-image: linear-gradient(-90deg, red, yellow);
}

#gradMultiple1 {
    height: 100px;
    background-color: red;
    background-image: linear-gradient(red, yellow, green);
}

#gradMultiple2 {
    height: 100px;
    background-color: red;
    background-image: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
}

#gradMultiple3 {
    height: 100px;
    background-color: red;
    background-image: linear-gradient(red 10%, green 85%, blue 90%);
}

#gradMultipleHorizontal {
    height: 55px;
    background-color: red;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

#gradTransparency {
    height: 200px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}

#repeatingLinearGradient1 {
    height: 200px;
    background-color: red;
    background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
}

#repeatingLinearGradient2 {
    height: 200px;
    background-color: red;
    background-image: repeating-linear-gradient(45deg, red, yellow 7%, green 10%);
}

#repeatingLinearGradient3{
    height: 200px;
    background-color: red;
    background-image: repeating-linear-gradient(190deg, red, yellow 7%, green 10%);
}

#repeatingLinearGradient4 {
    height: 200px;
    background-color: red;
    background-image: repeating-linear-gradient(90deg, red, yellow 7%, green 10%);
}

#repeatingLinearGradient5 {
    height: 200px;
    background-color: red;
    background-image: repeating-linear-gradient(45deg, red 0px, red 10px, yellow 10px, yellow 20px);
}

#radialGrad1 {
    height: 150px;
    width: 200px;
    background-color: red;
    background-image: radial-gradient(red, yellow, green);
}

#radialGrad2 {
    height: 150px;
    width: 200px;
    background-color: red;
    background-image: radial-gradient(red 5%, yellow 15%, green 60%);
}

#radialGradShapes1 {
    height: 150px;
    width: 200px;
    background-color: red;
    background-image: radial-gradient(red, yellow, green);
}

#radialGradShapes2 {
    height: 150px;
    width: 200px;
    background-color: red;
    background-image: radial-gradient(circle, red, yellow, green);
}

#radialGradKeywords1 {
    height: 150px;
    width: 150px;
    background-color: red;
    background-image: radial-gradient(closest-side at 60% 55%, red, yellow, black);
}

#radialGradKeywords2 {
    height: 150px;
    width: 150px;
    background-color: red;
    background-image: radial-gradient(farthest-side at 60% 55%, red, yellow, black);
}

#radialGradKeywords3 {
    height: 150px;
    width: 150px;
    background-color: red;
    background-image: radial-gradient(closest-corner at 60% 55%, red, yellow, black);
}

#radialGradKeywords4 {
    height: 150px;
    width: 150px;
    background-color: red;
    background-image: radial-gradient(farthest-corner at 60% 55%, red, yellow, black);
}

#radialGradRepeat {
    height: 150px;
    width: 200px;
    background-color: red;
    background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
}

#conicGradThree {
    height: 200px;
    width: 200px;
    background-color: red;
    background-image: conic-gradient(red, yellow, green);
}

#conicGradFive {
    height: 200px;
    width: 200px;
    background-color: red;
    background-image: conic-gradient(red, yellow, green, blue, black);
}

#conicGradEach {
    height: 200px;
    width: 200px;
    background-color: red;
    background-image: conic-gradient(red 45deg, yellow 90deg, green 210deg);
}

#conicGradPieChart {
    height: 200px;
    width: 200px;
    background-color: red;
    background-image: conic-gradient(red, yellow, green, blue, black);
    border-radius: 50%;
}

#conicGradPieAll {
    height: 200px;
    width: 200px;
    background-color: red;
    background-image: conic-gradient(red 90deg, yellow 90deg, yellow 180deg, green 180deg, green 270deg, blue 270deg);
    border-radius: 50%;
}

#conicGradFromAngle {
    height: 200px;
    width: 200px;
    background-color: red;
    background-image: conic-gradient(from 90deg, red, yellow, green);
    border-radius: 50%;
}

#conicGradCenteredPosition {
    height: 200px;
    width: 200px;
    background-color: red;
    background-image: conic-gradient(at 60% 45%, red, yellow, green);
    border-radius: 50%;
}

#conicGradRepeating {
    height: 200px;
    width: 200px;
    background-color: red;
    background-image: repeating-conic-gradient(red 10%, yellow 20%);
    border-radius: 50%;
}

#cssTextShadow {
    text-shadow: 2px 2px;
}

#cssTextShadow1 {
    text-shadow: 2px 2px red;
}

#cssTextShadow2 {
    text-shadow: 2px 2px 5px red;
}

#cssTextShadowMultiple {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

#cssTextShadowMultiple3 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#cssTextShadowPlain {
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#boxshadowHorizontalVertical {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: coral;
    box-shadow: 10px 10px;
}

#boxshadowColor {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: coral;
    box-shadow: 10px 10px lightblue;
}

#boxshadowBlur {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: coral;
    box-shadow: 10px 10px 5px lightblue;
}

#boxshadowSpread {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: coral;
    box-shadow: 10px 10px 5px 12px lightblue;
}

#boxshadowInset {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: coral;
    box-shadow: 10px 10px 5px lightblue inset;
}

#boxshadowMultiple1 {
    border: 1px solid;
    padding: 15px;
    margin: 20px;
    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
}
#boxshadowMultiple2 {
    border: 1px solid;
    padding: 15px;
    margin: 20px;
    box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
}

.boxshadowCard {
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boxshadowCardHeader {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 40px;
}

.boxshadowCard {
    padding: 10px;
}

.textOverflow1 {
    white-space: nowrap;
    width: 200px;
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: clip;
}

.textOverflow2 {
    white-space: nowrap;
    width: 200px;
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textOverflow3 {
    white-space: nowrap;
    width: 200px;
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: clip;
}

.textOverflow4 {
    white-space: nowrap;
    width: 200px;
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textOverflow3:hover {
    overflow: visible;
}

.textOverflow4:hover {
    overflow: visible;
}

.wordWrap {
    width: 11em;
    border: 1px solid #000000;
    word-wrap: break-word;
}

.wordbreak1 {
    width: 140px;
    border: 1px solid #000000;
    word-break: keep-all;
}

.wordbreak2 {
    width: 140px;
    border: 1px solid #000000;
    word-break: break-all;
}

.writingMode1 {
    writing-mode: horizontal-tb;
}

.writingMode2 {
    writing-mode: vertical-rl;
}

.writingMode3 {
    writing-mode: vertical-rl;
}

#translate1 {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: translate(50px, 100px);
}

.rotate1 {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
}

#rotate2 {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: rotate(20deg);
}

#rotate3 {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: rotate(-20deg);
}

.scale1 {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: scale(1.5, 1.5);
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.scale2 {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: scale(0.5, 0.5);
}

.scale3 {
    width: 200px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: scaleX(2);
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.scale4 {
    width: 200px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: scaleX(0.5);
}

.scale5 {
    width: 200px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: scaleY(3);
    margin: 100px
}

.scale6 {
    width: 200px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: scaleY(0.5);
}

.skewX1 {
    margin-left: 20px;
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
}

.skewX2 {
    transform: skewX(20deg);
}

.skewY1 {
    margin-left: 20px;
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
}

.skewY2 {
    transform: skewY(20deg);
}

.skew1 {
    margin-left: 20px;
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
}

.skew2 {
    transform: skew(20deg, 10deg);
}

.skew3 {
    transform: skew(20deg);
}

.matrix1 {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
}

.matrix2 {
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}

.matrix3 {
    transform: matrix(1, 0, 0.5, 1, 150, 0);
}

.rotate3D1 {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
}

.rotate3D2 {
    transform: rotateX(150deg);
}

.rotate3D3 {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
}

.rotate3D4 {
    transform: rotateY(150deg);
}

.rotateZ1 {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
}

.rotateZ2 {
    transform: rotateZ(90deg);
}

